@model IEnumerable<csharp_web_exam_api.Models.ALUMNO>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NOMBRE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PATERNO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MATERNO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GENERO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CORREO)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NOMBRE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PATERNO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MATERNO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GENERO.GENERO_DESC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CORREO)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ALUMNO_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ALUMNO_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ALUMNO_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
